services:
  middleware:
    build:
      context: ./middleware
    environment:
      NODE_ENV: test
    volumes:
      - ./middleware/src:/home/node/src:ro
    depends_on:
      - redis

  client:
    build:
      context: ./client
    environment:
      NODE_ENV: test
    volumes:
      - ./client/src:/home/node/src:ro
    depends_on:
      - server
      - redis

  redis:
    image: redis:8-alpine

  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    environment:
      PORT: 8080
      NODE_ENV: production
    depends_on:
      - redis
